<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <div class="row">
        <div id="title">
            <h1>Votación Velada del Año 2024</h1>
        </div>

        <table id="allVotes" class="table table-striped">
            <thead>
            <tr>
                <th>Voto</th>
            </tr>
            </thead>
            <tbody>
            <tr class="result" data-th-each="vote : ${votes}">
                <td>[[${vote.fighter1}]]</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
